@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.mobile-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  padding: 96px 1.25rem 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 100;
  scroll-snap-align: start;
}

.content-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;
  color: white;
  word-break: keep-all;

  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
}

.content-box.visible {
  opacity: 1;
  transform: translateY(0);
}

.title {
  @include myeongjo($font-size-32, $font-weight-medium);
}

.subTitle {
  font-size: $font-size-16;
  margin-bottom: 0.75rem;
}

.description {
  font-size: $font-size-14;
  color: $color-green-50;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.top-right-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $color-green-50;
  transition: transform 0.3s ease;
  transform: translateX(0);

  &:hover {
    transform: translateX(4px);
  }

  &:active {
    transform: translateX(4px);
  }
}

/* Footer section for mobile */
.footer-section {
  min-height: auto;
  height: auto;
  scroll-snap-align: end; // 요소의 끝점에서 스냅 (bottom 맞춤)
  scroll-snap-stop: always; // Footer에서 멈춤
}

/* 기존 Footer */
.mobile-container ~ footer {
  display: none !important;
}
