### Backend ###
# base
django~=5.2.0
djangorestframework~=3.16.0

# CORS 처리
django-cors-headers

# 개발환경 & 설정
django-environ
django-extensions

# Excel파일 읽기/쓰기 지원
openpyxl

# 배포
asgiref
gunicorn
packaging
pytz
sqlparse
tzdata