@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  height: 20vh;
  padding: 2rem 3rem;
  background-color: white;
}

.title {
  @include myeongjo($font-size-32, 500);
  color: $color-green-500;
}

.contents {
  max-width: 780px;
  word-break: keep-all;
}
