@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.main-banner__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1920 / 720;
    object-fit: cover;

    @media (max-width: 768px) {
        aspect-ratio: 360 / 240;
    }
}
