@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.brand-history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  margin-bottom: 15vw;

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 960 / 800;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 clamp(20px, 10vw, 100px);
  }

  &__title {
    @include myeongjo(clamp(28px, 2.6vw, 50px), 500);
    color: $color-green-500;
    margin-bottom: clamp(12px, 1.5vw, 20px);
  }

  &__location {
    @include pretendard(clamp(16px, 1.25vw, 24px), 500);
    margin-bottom: clamp(24px, 3vw, 50px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 80px;

    &__image {
      width: 100%;
      max-width: 100vw;
      height: auto;
      aspect-ratio: 360 / 200;
      object-fit: cover;
    }

    &__content {
      align-items: center;
    }

    &__title {
      @include myeongjo($font-size-24, 500);
      margin-bottom: 10px;
    }

    &__location {
      @include pretendard($font-size-14, 500);
      margin-bottom: 20px;
    }

    &__list {
      align-items: flex-start;
      gap: 5px;
    }
  }
}

.history-item {
  display: flex;
  gap: 20px;
  @include pretendard(clamp(14px, 1.2vw, 20px), 500);

  &__wrapper {
    display: flex;
    gap: 20px;
  }

  @media (max-width: 768px) {
    gap: 10px;
    @include pretendard($font-size-12, 500);
  }
}
