@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.jeju-matcha {
    &__intro {
        display: flex;
        margin-bottom: 160px;
    }

    &__image {
        width: 100%;
        max-width: 960px;
        height: auto;
        aspect-ratio: 960 / 800;
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;
    }

    &__title {
        @include myeongjo($font-size-50, 700);
        color: $color-green-500;
        margin-bottom: 20px;
    }

    &__slogan {
        @include pretendard($font-size-24, 400);
        margin-bottom: 50px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    &__paragraph {
        @include pretendard($font-size-20, 400);
    }

    &__feature {
        display: flex;
        justify-content: space-between;
        margin-bottom: 160px;

        &-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 960px;
            flex: 1;
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 320px;
            gap: 30px;
        }

        &-title {
            @include myeongjo($font-size-50, 700);
            color: $color-green-500;
        }

        &-description {
            @include pretendard($font-size-24, 500);
            text-align: center;
        }

        &-image {
            width: 100%;
            max-width: 960px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }
}
