@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.main {
    width: 100%;
    min-height: 100vh;
}

.loading, .error {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p {
        @include myeongjo($font-size-24, $font-weight-medium);
        color: $color-black-200;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .loading, .error {
        height: 40vh;
        padding: 1rem;
        
        p {
            @include myeongjo($font-size-18, $font-weight-medium);
        }
    }
}