@use "../../styles/variables" as *;

.header {
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;
  background-color: $color-beige-100;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid $color-green-50;

  &-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: min(1660px, 100%);
    margin: 0 auto;
  }

  &-mb {
    display: none;
  }

  &-pc {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    &-mb {
      display: none;
      object-fit: contain;
    }
    &-pc {
      display: block;
      object-fit: contain;
      margin-right: 2.125rem;
    }
  }

  &__list {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    & button,
    & a {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    font-size: $font-size-18;
    &:hover,
    &:focus {
      color: $color-green-500;
    }
  }

  .lang-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    background-color: $color-green-500;
    border-radius: 50px;
    padding: 6px;

    color: white;
    font-size: $font-size-14;

    & img {
      width: 18px;
      height: 18px;
    }
    & span {
      line-height: 1;
    }

    &:hover {
      background-color: $color-green-700;
    }

    &:active {
      background-color: $color-green-700;
    }
  }
}

// moblie sidebar

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 320px;
  height: 100vh;
  z-index: 900;
  padding: 7.5rem 1.5rem;
  background-color: $color-green-500;
  transform: translateX(100%);
  transition: transform 0.3s;

  &.open {
    transform: translateX(0);
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  & li {
    color: white;
    font-size: $font-size-18;
    &:hover {
      color: $color-green-50;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 800;
}

@media screen and (max-width: 768px) {
  .header {
    &-pc {
      display: none;
    }
    &-mb {
      display: flex;
      justify-content: flex-end;
    }

    .logo {
      &-pc {
        display: none;
      }
      &-mb {
        display: block;
      }
    }

    &__list {
      gap: 1.25rem;
    }
  }
}
