@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.glossy-pick-header {
    margin: clamp(60px, 10vw, 100px) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(16px, 3vw, 30px);

    &__title {
        @include myeongjo(clamp(32px, 5vw, 50px), 500);
        color: $color-green-500;
    }

    &__subtitle {
        @include pretendard(clamp(14px, 2vw, 20px), 500);
    }

    @media (max-width: 768px) {
        margin: 30px 0 30px;
        gap: 10px;

        &__title {
            @include myeongjo($font-size-24, 500);
        }
        &__subtitle {
            @include pretendard($font-size-12, 500);
        }
    }
}
