@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.glossy-pick-header {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &__title {
        @include myeongjo($font-size-50, 500);
        color: $color-green-500;
    }

    &__subtitle {
        @include pretendard($font-size-20, 500);
    }
}
