@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: clamp(40px, 8vw, 100px);

    &__title {
        @include myeongjo(clamp(18px, 3vw, 28px), 500);
        margin-bottom: clamp(20px, 4vw, 60px);
        text-align: center;
    }

    &__options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 30px;
    }

    &__step {
        @include pretendard($font-size-20, 500);
        margin-bottom: 30px;
    }

    @media (max-width: 768px) {
        margin-bottom: 30px;

        &__title {
            @include myeongjo($font-size-14, 500);
            margin-bottom: 30px;
        }

        &__options {
            gap: 20px;
            margin-bottom: 20px;
        }

        &__step {
            @include pretendard($font-size-10, 500);
            margin-bottom: 20px;
        }
    }
}
