@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: clamp(40px, 8vw, 100px);
    width: 100vw;
    max-width: 1280px;

    &__title {
        @include myeongjo(clamp(18px, 3vw, 28px), 500);
        margin-bottom: clamp(20px, 4vw, 60px);
        text-align: center;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 100%;
        max-width: 300px;
        height: auto;
        aspect-ratio: 300 / 360;
        object-fit: cover;
        margin-bottom: clamp(10px, 2vw, 30px);
        border-radius: 18px;
    }

    &__menuName {
        @include pretendard(clamp(18px, 3vw, 24px), 500);
        color: $color-green-500;
        margin-bottom: clamp(15px, 4vw, 30px);
    }

    &__tags {
        display: flex;
        justify-content: center;
        gap: clamp(15px, 3vw, 30px);
        margin-bottom: clamp(15px, 4vw, 30px);
    }

    &__menuDescription {
        @include pretendard(clamp(14px, 3vw, 20px), 500);
        margin-bottom: clamp(30px, 6vw, 60px);
        text-align: center;
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: clamp(20px, 5vw, 50px);
    }

    @media (max-width: 768px) {
        margin-bottom: 30px;

        &__title {
            @include myeongjo($font-size-14, 500);
            margin-bottom: 20px;
            text-align: center;
        }

        &__image {
            width: 100%;
            max-width: 200px;
            height: auto;
            aspect-ratio: 150 / 200;
            margin-bottom: 20px;
        }

        &__menuName {
            @include pretendard($font-size-16, 500);
            margin-bottom: 20px;
        }

        &__tags {
            gap: 10px;
            margin-bottom: 20px;
        }

        &__menuDescription {
            @include pretendard($font-size-14, 500);
            margin-bottom: 20px;
            text-align: center;
        }

        &__actions {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
}
