// 열린명조
@font-face {
  font-family: "YeolrinMyeongjo";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/Yoondesign/YeolrinMyeongjo-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YeolrinMyeongjo";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/Yoondesign/YeolrinMyeongjo-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// 프리텐다드
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/Orioncactus/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/Orioncactus/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/Orioncactus/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
